In [114]:
text =  """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

#text.split()
dividido=text.split('. ')

In [115]:
#Primero, divide el texto en cada oración para trabajar con su contenido:
# Añade el código necesario
#text.split()
#text.split('\n')

In [116]:
#Ahora, define algunas palabras clave para 
# búsqueda que te ayudarán a determinar 
# si una oración contiene un hecho.

# Define las palabras pista: average, temperature y distance suenan bien
text.find('average')

164

In [117]:
text.find('temperature')

326

In [118]:
text.find('distance')

-1

In [119]:
listClave=['average','temperature','distance']
#Cre un bucle para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave definidas anteriormente:
# Ciclo for para recorrer la cadena
dividido= text.split('.')
# Ciclo for para recorrer la cadena
for d in dividido:
    for lc in listClave:
        if lc in d:
            print(d)

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [120]:
#Finalmente, actualiza el bucle(ciclo) para cambiar _C_ a _Celsius_:

#tx ="Hola prueba C de C celcius"
#tx.replace(' C', ' Celsius')

for d in dividido:
    for lc in listClave:
        if lc in d:
            print(d.replace('C','Celsius'))

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

In [121]:
# Datos con los que vas a trabajar
nom = "Iuppiter"
grav = 0.002479 # in kms
plt = "Jupiter"

In [122]:
# Creamos el título
t=f'\nInformación de {plt}'.center(40, ' ')

print(t)

Información de Jupiter

In [123]:
# Creamos la plantilla

plantilla = f"""Su nombre en latin es {nom} es el planeta más grande del
sistema solar y el quinto en orden de lejanía al Sol.
La gravedad en {nom} es de {grav * 1000} m/s2. """.ljust(100,'-')


print(plantilla)

Su nombre en latin es Iuppiter es el planeta más grande del
sistema solar y el quinto en orden de lejanía al Sol.
La gravedad en Iuppiter es de 2.4789999999999996 m/s2.

In [124]:
# Unión de ambas cadenas

union = f"""{t.title()}\n\n{plantilla}""" 
print(union)

Información De Jupiter

Su nombre en latin es Iuppiter es el planeta más grande del
sistema solar y el quinto en orden de lejanía al Sol.
La gravedad en Iuppiter es de 2.4789999999999996 m/s2.

In [125]:
plt = 'Marte '
grav = 0.00143
nom = 'Ganímedes'

In [126]:
# Comprobamos la plantilla
print(union)

Información De Jupiter

Su nombre en latin es Iuppiter es el planeta más grande del
sistema solar y el quinto en orden de lejanía al Sol.
La gravedad en Iuppiter es de 2.4789999999999996 m/s2.

In [127]:
# Nueva plantilla
union2="""         
Información De {plt}          

Su nombre es {nom} es el cuarto planeta en orden de distancia al Sol y 
el segundo más pequeño del sistema solar, después de Mercurio.
La gravedad en {plt} es de {grav} m/s2. """

print(union2.format(nom=nom, plt=plt, grav=grav*1000))

Información De Marte

Su nombre es Ganímedes es el cuarto planeta en orden de distancia al Sol y
el segundo más pequeño del sistema solar, después de Mercurio.
La gravedad en Marte  es de 1.4300000000000002 m/s2.